name: DockerHub

permissions:
  contents: read

on:
  push:
    branches:
      - 'main'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      -
        name: Build and push (amd64, arm64)
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/amd64,linux/arm64/v8
          push: true
          tags: gyarbij/plexist:latest
      -
        name: Build and push (arm/v7)
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile.armv7
          platforms: linux/arm/v7
          push: true
          tags: gyarbij/plexist:latest